<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLayout</title>
</head>
<body>
    <header>
        <h1>Сайт для програміста</h1>
    </header>

    @RenderBody()

    <footer>
        <h2>Фотер</h2>
    </footer>

</body>
</html>
